body {
background-color:	#404242;
margin:		0px;
padding:	0px;
}

.Header {
margin:		auto;
width:		40%;
}

.Header h1 {
text-align:	center;
font-family:	'Roboto', sans-serif;
font-weight:	300;
color:		#e2f6d6;
margin:		0px;
}

.Search {
margin:		auto;
width:		40%;
padding:	0px;
}

.Search input {
width:		100%;
padding:	5px;
border:		none;
border-radius:	3px;
}

.Links {
display:	flex;
flex-direction:	row;
justify-content:space-between;
width:	 	80%;
margin:		0 auto;
padding:	0px;
}

.Links ul {
margin:		0px;
padding:	0px;
}

.Links li {
list-style:	none;
font-family:	'Roboto', sans-serif;
font-weight:	300;
}

.Links a {
margin:		0px;
padding:	0px;
}

.Links a:link, a:visited, a:active {
color:		#e2f6d6;
text-decoration:none;
}

.Links h2 {
font-family:	'Roboto', sans-serif;
font-weight:	300;
padding:	0;
margin:		0;
}

.LinkBox {
width:		25%;
height:		200px;
background:	#1b1d1e;
margin:		10px;
padding:	10px;
}
